html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Arial;
}

body.page-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    background: #3498db;
}

nav ul {
    margin: 0;
    padding: 10px;
}

main {
    background: #fff;
    height: 100vh;
}

.page-login main {
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(0,0,0,0.85);
    height: auto;
}

.login {
    padding: 5px;
    text-align: center;
}

.login a {
    display: block;
    background: #2c3e50;
    padding: 10px 25px;
    border-radius: 3px;
}
